<div class="cart-container">
  <div *ngIf="cartService.totalItems()">
    <ng-container *ngFor="let row of cartService.cartItems(); let i = index;">
      <div class="row">
        <div class="img"><img [src]="row.image" [alt]=row.title></div>
        <div class="data">
          <div class="description">{{row.title}}</div>
          <h1 class="price">{{row.price | currency: 'R$ '}}</h1>
        </div>
        <button mat-raised-button color="warn" (click)="removeProduct(i)">remove</button>
      </div>
    </ng-container>
    <div class="total">
      <h1>TOTAL</h1>
      <h1>{{cartService.subtotal() | currency: 'R$ '}}</h1>
    </div>
  </div>
</div>
