.row {
  max-width: 600px;
  width: 100%;
  border: solid thin grey;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total {
  max-width: 600px;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
img {
  width: 100%;
  max-width: 50px;
}
.data {
  text-align: center;
}
